table.responsive-table {
  margin: 0 0 1em 0;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

table.responsive-table * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}

table.responsive-table th {
  font-weight: bold;
  padding: 0.25em;
}
table.responsive-table td {
  padding: 0.25em;
  font-size: 0.9em;
}
table.responsive-table tr {
  border-bottom: 1px solid #ccc;
}
table.responsive-table .numeric {
  text-align: right;
}
table.responsive-table.zebra tr:nth-child(even) {
  background: #efefef;
}

@media screen and (max-width: 500px) {
table.responsive-table {
  display: block;
  width: 100%;
}
table.responsive-table .numeric {
  text-align: left;
}
table.responsive-table tr.hideMobile, table.responsive-table th.hideMobile, table.responsive-table td.hideMobile {
  display: none;
}
table.responsive-table thead {
  display: none;
}
table.responsive-table tbody {
  display: block;
  width: 100%;
}
table.responsive-table tr, table.responsive-table th, table.responsive-table td {
  display: block;
  padding: 0;
}
table.responsive-table th[data-title]:before, table.responsive-table td[data-title]:before {
  content: attr(data-title) ":\00A0";
  font-weight: bold;
}
table.responsive-table tr {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0.5em 0;
}
table.responsive-table tr:nth-child(even) {
  background: none;
}
table.responsive-table td {
  padding-top: 0.25em;
}
table.responsive-table td:empty {
  display: none;
}
table.responsive-table td:first-child {
  font-size: 1.1em;
  font-weight: bold;
}
table.responsive-table td:first-child:before {
  content: "";
}
}