* {
	box-sizing: border-box;
}
a {
	color: #d44;
	text-decoration: none;
	font-weight: bold;
}
p {
	margin: 0.25em 0;
	line-height: 1.4;
}
body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #333;
}
h2 {
	text-align: center;
	margin-bottom: 0;
}
h3 {
	text-align: center;
	margin: 2em 0 0.5em 0;
}
h4 {
	margin-top: 0;
	text-align: center;
}
section {
	max-width: 760px;
	margin: 0 auto;
}
button {
	display: block;
	cursor: pointer;
	background: #d44;
	color: #fff;
	width: auto;
	text-transform: uppercase;
	margin: 0.5em auto;
	padding: 0.5em 1em;
	border: none;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
textarea {
	border: none;
	background: #bbb;
	resize:	none;
	width: 100%;
	height: 240px;
}
input {
	background: #bbb;
	border: none;
	font-size: 1em;
	padding: 0.25em;
	line-height: 1.4;
	width: 100%;
}
.instructions {
	background: #ddd;
	padding: 0.5em;
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.updated {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	color: #4d4;
}
.enhance {
	text-align: center;
	font-size: 0.85em;
}
.audioChoice {
	display: inline;
	width: auto;
	margin-bottom: 2em;
}
.toggleAudio {
	margin-bottom: 1em;
}
.headerChoices {
	margin-bottom: 0.5em;
}
.headerChoice {
	border-bottom: 1px solid #ccc;
}
.headerChoice span {
	display: inline-block;
	min-width: 80px;
	font-weight: bold;
	font-size: 0.9em;
}
.buttonChoices {
	display: inline-block;
}
.buttonChoices button {
	display: inline;
	cursor: pointer;
	background: #ccc;
	color: #fff;
	width: auto;
	text-transform: uppercase;
	margin: 0.5em auto;
	padding: 0.5em;
	border: none;
}
.buttonChoices button.currentChoice {
	background: #d44;
	color: #fff;
}
.intro {
	font-size: 0.9em;
}
.credits {
	border-top: 1px solid #ccc;
	margin-top: 8em;
	margin-bottom: 4em;
	font-size: 0.9em;
}
.russell {
	 margin-top: 2em;
	 text-align: center;
}
.breakpointContainer {
	height: 100%;
	overflow: hidden;
}
#breakpointSlider {
	display: inline;
	float: left;
	margin: 0;
	width: 80%;
}
#breakpointText {
	margin: 0;
	display: inline;
	float: left;
	margin-left: 5%;
	width: 15%;
	text-align: center;
}