/*styles for graphic info (hed, subhed, source, credit)*/
.rg-container {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 1em 0;
	color: #1a1a1a;
}
.rg-header {
	margin-bottom: 1em;
}
.rg-hed {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 0.25em;
}
.rg-subhed {
	font-size: 1em;
	line-height: 1.4em;
}
.rg-source-and-credit {
	font-family: Georgia,"Times New Roman",Times,serif;
	width: 100%;
	overflow: hidden;
	margin-top: 1em;
}
.rg-source {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 0.75em;
	line-height: 1.5em;
}
.rg-source .pre-colon {
	text-transform: uppercase;
}
.rg-credit {
	margin: 0;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	float: right;
	text-align: right;
	font-size: 0.65em;
	line-height: 1.5em;
}
@media (max-width: 640px) {
.rg-source-and-credit > div {
	width: 100%;
	display: block;
	float: none;
	text-align: right;
}
}
/*styles for graphic*/
table.rg-table {
	margin: 0 0 1em 0;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
}
table.rg-table * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
	color: #333;
}
table.rg-table thead {
	border-bottom: 1px solid rgba(195,195,197,.3);
}
table.rg-table th {
	font-weight: bold;
	padding: 0.5em 0;
	font-size: 0.85em;
}
table.rg-table th:first-child {
	padding-left:0.5em;
}
table.rg-table th:last-child {
	padding-right:0.5em;
}
table.rg-table td {
	padding: 0.5em 0;
	font-size: 0.9em;
}
table.rg-table td:first-child {
	padding-left:0.5em;
}
table.rg-table td:last-child {
	padding-right:0.5em;
}
table.rg-table .highlight td {
	font-weight: bold;
}
table.rg-table tr {
	border-bottom: 1px solid rgba(195,195,197,.3);
	color: #222;
}
table.rg-table .number {
	text-align: right;
}
table.rg-table.zebra tr:nth-child(even) {
	background: rgba(195, 195, 197, 0.1);
}
table.rg-table tr.highlight {
	background: #edece4 !important;
}
@media screen and (max-width: 500px) {
table.rg-table {
	display: block;
	width: 100%;
}
table.rg-table .number {
	text-align: left;
}
table.rg-table tr.hide-mobile, table.rg-table th.hide-mobile, table.rg-table td.hide-mobile {
	display: none;
}
table.rg-table thead {
	display: none;
}
table.rg-table tbody {
	display: block;
	width: 100%;
}
table.rg-table td:first-child {
	padding-left:0;
}
table.rg-table td:last-child {
	padding-right:0;
}
table.rg-table tr, table.rg-table th, table.rg-table td {
	display: block;
	padding: 0;
}
table.rg-table th[data-title]:before, table.rg-table td[data-title]:before {
	content: attr(data-title) ":\00A0";
	font-weight: bold;
}
table.rg-table tr {
	border-bottom: 1px solid rgba(195,195,197,.3);
	margin: 0;
	padding: 0.5em 0;
}
table.rg-table tr:nth-child(even) {
	background: none;
}
table.rg-table td {
	padding: 0.25em 0 0 0;
}
table.rg-table td:empty {
	display: none;
}
table.rg-table td:first-child {
	font-size: 1.1em;
	font-weight: bold;
}
table.rg-table td:first-child:before {
	content: "";
}
}