* {
	box-sizing: border-box;
}
a {
	color: #000;
	font-weight: bold;
}
a:visited {
	color: #000;
}
p {
	margin: 0.25em 0;
	line-height: 1.4;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-weight: 300;
}
h2 {
	text-align: center;
	margin-bottom: 0;
	font-weight: 300;
	letter-spacing: 0.05em;
}
h3 {
	text-align: center;
	margin: 2em 0 0.5em 0;
	font-weight: 300;
	letter-spacing: 0.05em;
}
h4 {
	margin-top: 0;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.05em;
}
section {
	max-width: 760px;
	margin: 0 auto;
}
button {
	display: block;
	cursor: pointer;
	background: #000;
	color: #fff;
	width: auto;
	text-transform: uppercase;
	margin: 0.5em auto;
	padding: 0.5em 1em;
	letter-spacing: 0.05em;
	font-size: 0.9em;
	border: none;
	outline: none;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
}
textarea {
	border: 1px solid #ccc;
	resize:	none;
	width: 100%;
	height: 240px;
	outline: none;
	font-size: 0.8em;
	color: #666;
	font-weight: 300;
	padding: 0.5em;
}
input {
	background: #fff;
	border: none;
	border-bottom: 1px dashed #999;
	font-size: 0.9em;
	padding: 0.25em;
	line-height: 1.4;
	width: 100%;
	outline: none;
	margin-bottom: 0.5em;
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.updated {
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	color: #0a0;
}
.intro {
	font-size: 0.9em;
	margin-bottom: 2em;
	text-align: center;
}
.credits {
	border-top: 1px solid #ccc;
	margin: 8em auto 4em auto;
	max-width: 30rem;
	font-size: 0.9em;
	padding-top: 1em;
}
.russell {
	margin-top: 2em;
	text-align: center;
}
.russell a {
	text-decoration: none;
	outline: none;
}
div[contenteditable=true], span[contenteditable=true] {
	border-bottom: 1px dashed #aaa;
	outline: none;
}

.rg-source span {
	display: inline-block;
	outline: none;
}

.preview {
	font-weight: normal;
}

.rg-content {
	-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.preview input,
.preview textarea,
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.output-code {
	margin: 1em 0;
}

p.instructions {
	margin-top: 1em;
}